<div class="container">
  <div class="row">
    <div class="col col-12">
      <h1>
        Alba: {{ albaTramontoObj.sunrise }} - Tramonto
        {{ albaTramontoObj.sunset }}
      </h1>
      <table class="table table-primary table-striped">
        <thead>
          <tr>
            <th>Timepoint</th>
            <th>Temperatura in Celsius</th>
            <th>Previsioni del Tempo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meteoVar of meteoObj">
            <td>{{ meteoVar.timepoint }}</td>
            <td>{{ meteoVar.temp2m }}°</td>
            <td><img [src]="meteoVar.png" alt="" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
