<div class="container">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-12">
      <form>
        <div class="mb-3">
          <label for="lat" class="form-label">Latitudine</label>
          <input type="text" class="form-control" id="lat" [(ngModel)]="lat" />
        </div>
        <div class="mb-3">
          <label for="lon" class="form-label">Longitudine</label>
          <input type="text" class="form-control" id="lon" [(ngModel)]="lon" />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [routerLink]="'home/dettaglio/lat=' + lat + '?lon=' + lon"
        >
          Cerca
        </button>
      </form>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary mx-3"
          routerLink="'home/dettaglio/lat=45.070312?lon=7.6868565'"
        >
          Torino
        </button>
        <button
          type="submit"
          class="btn btn-primary mx-3"
          routerLink="'home/dettaglio/lat=40.779897?lon=-73.968565'"
        >
          New York
        </button>
      </div>
    </div>
  </div>
</div>
