<div class="container">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-12">
      <h1 class="text-center text-primary">Meteo</h1>
      <p>
        Inserisci le coordinate di latitutine e longitudine della tua città!
        Oppure clicca su un suggerito per cercarlo subito.
        <br />
        N.B. Ricorda che se non inserisci coordinate valide il bottone è
        disattivato.
        <strong>Cosa significa coordinate valide?</strong> La latitudine è
        compresa tra -90 e +90, mentre la longitudine ha valore compreso tra
        -180 e +180.
      </p>
      <form novalidate>
        <div class="mb-3">
          <label for="lat" class="form-label">Latitudine</label>
          <input
            type="text"
            class="form-control"
            id="lat"
            [(ngModel)]="lat"
            name="lat"
          />
        </div>
        <div class="mb-3">
          <label for="lon" class="form-label">Longitudine</label>
          <input
            type="text"
            class="form-control"
            id="lon"
            [(ngModel)]="lon"
            name="lon"
          />
        </div>
        <button
          class="btn btn-secondary text-white"
          [routerLink]="'/home/dettaglio/' + lat + '/' + lon"
          [disabled]="!InputValidation()"
        >
          Cerca
        </button>
      </form>
      <div class="d-flex justify-content-center">
        <h2 class="text-center text-primary">
          Suggeriti <i class="fa-solid fa-arrow-right"></i>
        </h2>
        <button
          class="btn btn-primary mx-3 text-white"
          routerLink="/home/dettaglio/45.070312/7.6868565"
        >
          Torino
        </button>
        <button
          class="btn btn-primary mx-3 text-white"
          routerLink="/home/dettaglio/40.779897/-73.968565"
        >
          New York
        </button>
      </div>
    </div>
  </div>
</div>
